@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.85;
}
.banner .content
{
	position: relative;
	max-width: 750px;
	text-align: center;
}

.banner .content h2
{
	color: #fff;
	font-size: 60px;
}
.banner .content p
{
	color: #fff;
	font-size: 25px;
}
.banner header
{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
.banner header h2
{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}
.head{
	background: #b181b1;  
	padding: 10px;
	color: white;
	display:flex;
	align-items: center;
}
nav{
	flex:1;
	text-align: right;	
}
nav ul{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;

}
nav ul li{
	display: inline-block;
}	
a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 15px 10px;
}
a:hover{
	padding: 15px 10px;
    border-bottom: 2px solid #fff;
}
.scrolling-active{
	padding-top: 10px;
    background-color: #4f0c99;
}
.scrolling-active header {
	 padding-top: 10px;
}